<h2>Finish Registration</h2>
<p>We'll use your email address to send you the sale notifications for the games in your wishlist. We won't give it out. It stays with us. Promise.</p>

<%= form_for(resource, :as => resource_name, :url => finish_registration(resource_name)) do |f| %>

  <div><%= f.label :email %>*<br />
  <%= f.email_field :email %></div>

  <p>Optional: We can send you your notifications by text too. We won't give it to telemarketers either. <em>Please note that this feature has not been implemented yet</em></p>
  <div><%= f.label :phone %><br />
  <%= f.phone_field :phone %></div>

  <div><%= f.submit "Register" %></div>
<% end %>