<%= provide(:title, 'Sign up') %>
<h2>Finish Sign Up</h2>

<div class="row">
	<div class="span6 offset3">

		<p>We'll use your email address to send you sale notifications for the games you track. We won't give it out. It stays with us. Promise.</p>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>

			<%= f.label :email %>
			<%= f.email_field :email %>

			<%= f.submit "Register and start getting notifications!", :class => "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>